<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="Lorenzo Marozzo - Développeur Web spécialisé Symfony" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Lorenzo Marozzo - Développeur Web spécialisé Symfony" />
    <meta property="og:image" content="https://grandpere.github.io/assets/images/portfolio-thumbs.png" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="976" />
    <meta property="og:description" content="Porfolio de Lorenzo Marozzo - Développeur Web spécialisé Symfony" />
    <meta property="og:url" content="https://grandpere.github.io/" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@LMarozzo" />
    <title>Lorenzo Marozzo - Développeur Web et Web Mobile spécialisé Symfony</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/shakrmedia/tuesday@v1.1.0/build/tuesday.min.css" />
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/timeline.css">
</head>

<body>
    {% include header.html %}
    <main>
        {% include about.html %}
        {% include summary.html %}
        {% include experiences.html %}
        {% include skills_contact_container.html %}
    </main>
    {% include footer.html %}
    {% include card_template.html %}
    {% include modal.html %}

    <!-- Loader -->
    <div class="loader-wrapper">
        <div class="noscript" style="font-size: 1rem">
            <noscript>Javascript must be enabled for using this site.</noscript>
        </div>
        <div class="loader">
            <span>{</span><span>}</span>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/cv.js"></script>
    <script>
        $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
            $('body').css('overflow', 'auto');
            $('html').css('overflow', 'auto');
        });
    </script>
</body>

</html>
