<section id="resume">
    <div class="resume-background"></div>
    <div class="resume-info">
        {% assign summary = site.resume | where: "key", "summary" | first %}
        <h1 class="animated tdStampIn" id="resume_resume-info_h1">{{ summary.fullname }}</h1>
        <h2 class="animated tdStampIn" id="resume_resume-info_h2">{{ summary.job }}</h2>
        <h3 class="animated tdStampIn" id="resume_resume-info_h3">{{ summary.localisation }}</h3>
    </div>
    <div id="white-arrow">
        <a href="#presentation" class="btn btn-lg" data-toggle="tooltip"
           title="Flèche vers le bas permettant d'accéder immédiatement à la partie présentation"><i class="fas fa-chevron-down text-white"></i></a>
    </div>
</section>
