<section id="resume">
    <div class="resume-background"></div>
    <div class="resume-info">
        <h1 class="animated tdStampIn" id="resume_resume-info_h1">.</h1>
        <h2 class="animated tdStampIn" id="resume_resume-info_h2">.</h2>
        <h3 class="animated tdStampIn" id="resume_resume-info_h3">.</h3>
    </div>
    <div id="white-arrow">
        <a href="#presentation" class="btn btn-lg" data-toggle="tooltip"
           title="Flèche vers le bas permettant d'accéder immédiatemment à la partie présentation"><i class="fas fa-chevron-down text-white"></i></a>
    </div>
</section>
