<!-- Template -->
<template id="empty_demo-card">
    <div class="demo-card"><!-- COLOR CLASS -->
        <div class="head">
            <div class="number-box">
                <span><!-- PROJECT YEAR --></span>
            </div>
            <h2><span class="small"><!-- PROJECT PERIOD --></span> <!-- PROJECT TITLE --></h2>
        </div>
        <div class="body">
            <p><!-- PROJECT DESCRIPTION --></p>
            <div class="content">
                <div class="content-overlay"></div>
                <img class="content-image" src="" alt=""><!-- PROJECT MAIN IMAGE -->
                <div class="content-details fadeIn-bottom">
                    <a id="openModalProject" class="btn btn-primary btn-sm">Découvrir le projet</a>
                </div>
            </div>
        </div>
    </div>
</template>
