<section id="contact">
    <div class="click-animations">
        <h2>Me contacter</h2>
        <p id="formspree_status" class="hide"></p>
        <form action="https://formspree.io/f/mgennapp" method="POST" id="formspree_contact">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="text" name="_name" placeholder="Name" id="formspree_name">
            <input type="email" name="_replyto" placeholder="Email" id="formspree_email">
            <textarea rows="7" name="_message" placeholder="Message" id="formspree_message"></textarea>

            <button name="_button" id="formspree_submit">Send</button>
        </form>
    </div>
</section>
