<section id=timeline>
    <h2>Expériences</h2>
    <div class="timeline-legend_container">
        <h4 class="timeline-legend_title">Légende</h4>
        <div class="timeline-legend_content">
            <span class="legend demo-card--cdi" data-toggle="tooltip" data-placement="bottom" title="CDI">CDI</span>
            <span class="legend demo-card--cdd" data-toggle="tooltip" data-placement="bottom" title="CDD">CDD</span>
            <span class="legend demo-card--stage" data-toggle="tooltip" data-placement="bottom" title="Stage">Stage</span>
            <span class="legend demo-card--formation" data-toggle="tooltip" data-placement="bottom" title="formation">Formation</span>
            <span class="legend demo-card--perso" data-toggle="tooltip" data-placement="bottom" title="Projet personnel">Perso</span>
        </div>
    </div>

    <div class="demo-card-wrapper" id="demo-card-wrapper">
        <!-- experiences here -->
    </div>
</section>
