<section id="experiences">
    <h2>Expériences</h2>

    {% assign experiencesSorted = site.experiences | sort: "order" %}

    {% for exp in experiencesSorted %}
    <article class="experience">
        <header>
            <h3>{{ exp.title }}</h3>
            <span>{{ exp.company }} — {{ exp.start-date }} / {{ exp.end-date }}</span>
        </header>

        <div class="experience-content">
            {{ exp.content }}
        </div>

        {% if exp.tech %}
        <ul class="tech-list">
            {% for tech in exp.tech %}
            <li>{{ tech }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </article>
    {% endfor %}
</section>
