<section id="competences">
    <h2>Compétences</h2>
    {% for category in site.data.skills %}
        <h3 class="skills-category">{{ category.category }}</h3>
        <div class="row justify-content-center">
            {% for skill in category.skills %}
            <div class="card col-12 col-lg-2"{% if skill.title %} data-toggle="tooltip" title="{{ skill.title }}"{% endif %}>
                {% if skill.link %}<a href="{{ skill.link }}">{% endif %}
                {% if skill.image %}
                    <img src="{{ skill.image }}"
                         class="card-img-top{% if skill.colored %} colored{% endif %}{% if skill.image contains 'assets/images/skills/custom/' %} no-filter{% endif %}"
                         alt="{% if skill.alt %}{{ skill.alt }}{% else %}Logo {{ skill.label }}{% endif %}">
                {% elsif skill.icon %}
                    <i class="{{ skill.icon }} fa-4x"></i>
                {% else %}
                    <div class="skill-placeholder">{{ skill.label | slice: 0, 2 }}</div>
                {% endif %}
                {% if skill.link %}</a>{% endif %}
                <p class="card-title">{{ skill.label }}</p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
