html {
    scroll-behavior: smooth;
}

/* LOADER */
html, body {
    overflow: hidden;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
}

.loader span {
    display: inline-block;
    -webkit-animation: pulse 0.5s alternate infinite ease-in-out;
    animation: pulse 0.5s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0.5;
    }
}

/* HEADER */
.navbar-fixed {
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    padding: 1rem;
}

#navbarNav {
    justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

/* DESIGN GENERAL */
#presentation,
#experiences,
#competences,
#contact {
    padding: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0 0 2rem;
    text-align: center;
}

.card {
    border: none;
    /*margin: .5rem;*/
}

.card > .card-body {
    padding: .5rem;
}

ul {
    list-style-type: none;
}

/* PRESENTATION */
#resume {
    background-color: #000;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 100vh;
}

#white-arrow {
    cursor: pointer;
    position: relative;
    top: -3.5rem;
    animation: bounceArrow 0.5s infinite alternate;
}

#white-arrow a {
    font-size: 2rem;
}

@keyframes bounceArrow {
    from {
        margin-top: 20px;
    }
    to {
        margin-top: 0px;
    }
}

.resume-background {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/bg-resume.png');
    filter: blur(2.5px);
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - .5rem);
}

.resume-info {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.resume-info .animated:first-child {
    animation-delay: .3s;
    animation-duration: 1.5s;
}

.resume-info .animated:nth-child(2) {
    animation-delay: .6s;
    animation-duration: 1.5s;
}

.resume-info .animated:last-child {
    animation-delay: .9s;
    animation-duration: 1.5s;
}

#presentation_description {
    animation-delay: 1s;
    animation-duration: 1.5s;
}

#presentation_cv {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 220px;
}

/* EXPERIENCES */
/* moved in timeline.css */

/* COMPETENCES */
#competences .row>.card {
    align-items: center;
    justify-content: center;
    max-width: 100px;
}

#competences .row>.card img {
    max-width: 100%;
    object-fit: cover;
    filter: brightness(0%);
}

#competences .row>.card img.colored {
    filter: brightness(100%);
}

/* CONTACT */
#contact {
    background-color: #f5f5f5;
    margin-bottom: 4rem;
}

#formspree_status {
    width: 50%;
    text-align: center;
    margin: .5rem auto;
    padding: .5rem;
    color: #000;
}

.show {
    opacity: 1;
    transition: opacity .5s;
    display: block;
}

.hide {
    opacity: 0;
    transition: opacity .5s;
    display: none;
}

@media (max-width: 999px) {
    .click-animations input {
        width: 100%;
    }

    .click-animations textarea {
        width: 100%;
    }

    .click-animations button {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .click-animations input {
        width: 50%;
    }

    .click-animations textarea {
        width: 50%;
    }

    .click-animations button {
        width: 50%;
    }
}

.click-animations input {
    display: block;
    margin: .5rem auto;
    padding: .5rem;
    height: 2.5rem;
    outline: none;
    border: 2px solid transparent;
    transition: 0.3s;
}

.click-animations textarea {
    display: block;
    margin: .5rem auto;
    padding: .5rem;
    outline: none;
    border: 2px solid transparent;
    resize: none;
    transition: 0.3s;
}

.click-animations input:focus,
.click-animations textarea:focus {
    border-color: #30cc8b;
}

.click-animations button {
    display: block;
    margin: .5rem auto;
    padding: .5rem;
    border: none;
    outline: none;
    background: #30cc8b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.click-animations button:active {
    transform: scale(0.95);
}

.form-error {
    border-color: #F46036 !important;
}

/* FOOTER */
footer {
    background-color: #eee;
    padding: 4rem 0 .5rem;
    text-align: center;
}

span.heart {
    color: red;
}